<h1>Ignacio de la Cuba - Lab 04</h1>
<p>Usando Express y MongoDB {{title}}</p>

<h1> Producto</h1>
    <p >
        <div class="container">
            <h3><a href="/productos/create">Crear Producto</a></h3>
