 <!DOCTYPE html>
<html>
    <head>
        <title>Crear Producto Nuevo</title>
    </head>
    <body>
        <div class="container">
            <h3><a href="/productos">Lista de Productos</a></h3>
            <h1>Crear Producto Nuevo</h1>
            <form action="/Productos/save" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td>Codigo</td>
                            <td><input type="text" name="codigo" /></td>
                        </tr>
                        <tr>
                            <td>Descripcion</td>
                            <td><input type="text" name="descripcion" /></td>
                        </tr>
                        <tr>
                            <td>Precio</td>
                            <td><input type="text" name="precio" /></td>
                        </tr>
                        <tr>
                            <td>Stock</td>
                            <td><input type="text" name="stock" /></td>
                        </tr>
                        <tr>
                            <td>Marca</td>
                            <td><input type="text" name="marca" /></td>
                        </tr>
                        <tr>
                            <td>Modelo</td>
                            <td><input type="text" name="modelo" /></td>
                        </tr>
                        <tr>
                            <td>Categoria</td>
                            <td><input type="text" name="categoria" /></td>
                        </tr>
                        <tr>
                            <td>Fecha de produccion</td>
                            <td><input type="text" name="fecha" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Guardar"/></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>
</html>
